<form action="{% url 'ideaTracker:edit' %}" method="post">
{% csrf_token %}
<p> Title <input type="text" name="title" value="{{ idea.title }}"/> </p>
<p> Description <input type="text" name="desc" value="{{ idea.description }}"/></p>
<p> State
    <select name="state">
        {% for key, value in ideaStates.items %}
            <option {% if key == idea.state %} selected="selected" {% endif %} value="{{ key }}">{{ value }}</option>
        <!--option value="0">NEW</option>
        <option value="1">REVIEWED</option>
        <option value="2">IN_PROGRESS</option-->
        {% endfor %}
    </select>
</p>    
<input type="hidden" name="idea_id" value="{{ idea.id }}"/>
<input type="submit" name="save" value="Save"/>
<input type="submit" name="cancel" value="Cancel"/>
</form>
