{% load static %}
<link rel="stylesheet" href="{% static 'ideaTracker/css/core.css' %}">
<header style="background-color: none; text-align:center">
<h1>Idea Tracker</h1>
</header>
{% if idea_list %}
    <table style="width:100%;padding-left:40px;padding-bottom:40px;">
    <tr>
    <td><h2> Idea List </h2></td>
    </tr>
    <tr>
        <td><b>Title</b></td>
        <td><b>Description</b></td>
    </tr>
    {% for idea in idea_list %}
    <tr>
        <td><a href="{% url 'ideaTracker:detail' idea.id %}">{{ idea.title }}</a></td>
        <td>{{ idea.description }}</td>
    </tr>
    {% endfor %}
    </table>
{% else %}    
    <p>No ideas added yet.</p>
{% endif %}

<form action="{% url 'ideaTracker:add' %}">
{% csrf_token %}
    <input type="submit" value="Add more ideas"/>
</form>    

<footer style="position:fixed; bottom:0; text-align:center; width:100%">
<p> Under development </p>
</footer>
